
:root {
    --fuentePrincipal:  'Gothic A1', sans-serif;
    --fuenteSecundaria: 'Oswald', sans-serif;
    
    --claro: #ffffff;
    --negro: #000000;
}

body {
    font-family: var(--fuentePrincipal);      
}

.contenedor {
    max-width: 1100px;
    width: 90%;
    margin: 0 auto;
}
img {
   
    max-width: 100%;
}
h1 {
    font-size: 2.8rem;
}
h2 {
    font-size: 2.6rem;
}
h3 {
    font-size: 2.4rem;
}


p {
    font-size: 1.2rem;  
    line-height: 2rem;
}

.place_down{
    margin-top:250px;
}
.hero {
    
    background-image: url(../img/Principal.JPG);
    height: 100vh;
    background-repeat: no-repeat;
    background-size:  cover;
    background-position: center center;
    filter: grayscale(100%);
 
}

.hero .contenedor {
    display: grid;
    height: 100vh;
    align-content: center;
}

.hero .contenido {
    text-align: center;
    color: var(--claro);
}

.card-grid {
    margin: 0 auto;
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px,  1fr));
    gap: 20px;
   
  }



  .card_front  {
    grid-area: overlap;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
    backface-visibility: hidden;
    filter: grayscale(90%);
  
   
  }
  
  .card_front  p, h4 {
    padding: 5px;
    text-align: center;
  }

  .card_front  a {
    text-decoration-line: none;
    color: #000000
  }

  .card_front  a:hover {
    color:#A9A9A9
  }

 .card_front img {
   width: 100%;
   display: block;
  }

  .card_front:hover {
    filter: grayscale(0%);
  } 

  .card_info {
    flex: 1 1 auto; 
  
      padding: 15px;
      display: flex;
      justify-content: space-around;
      background: #eeeeee;
      border-bottom: 2px solid #cccccc;
     
  }

  .card_back {
    transform: RotateY(180deg);
    grid-area: overlap;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
    background-color: #999999;
    color: var(--claro);
    backface-visibility: hidden;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column ;
    justify-content: center;
    align-content: space-between;
    
  }
  .place {
    height: 80%;
  }

  .card_back h3 {
    font-size: 1.4rem;
    margin: 15px;
  }
  .card_back h4 {
    font-size: 1rem;
    margin: 10px;
  }

  .card {
    transition: 2s all ease-in-out;
	  width: 100%;
	  height: 100%;
	  display: grid;
	  transform-style: preserve-3d;
	  grid-template-rows: 1fr;
	  grid-template-columns: 1fr;
    grid-template-areas: "overlap";
    
  }

  .card:hover {
      transform: RotateY(180deg);
    }
  .tech {
    display: flex;
    flex-flow: row wrap;
    /* flex-wrap: wrap; */
    justify-content: space-between;
  }
  

  

  

  @media (max-width: 500px){


    h1 h2{
        font-size: unset;
    }
}